<div class="container-fluid">
  <div class="row about-landing">
    <div class="overlay">
      <div class="content">
          <h1>Tech Talent Pipeline</h1>
          <h3 class="subheader">Learn more about the Tech Talent Pipeline</h3>
          <br>
          <a href="#" class="about-scroll btn btn-primary my-btn2">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
          </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row panel letter">
    <h1 class="letter-heading"><em>Letter from the TTP team...</em></h1>
    <br>
    <p> Just over two years ago, New York City Mayor Bill de Blasio launched the Tech Talent Pipeline, a $10 million industry partnership designed to deliver quality jobs for New Yorkers and quality talent for New York’s businesses. To date, we’ve been working with NYC’s top companies to define needs and develop solutions that deliver homegrown tech talent for 21st century jobs.</p>
    <br>
    <p>If you are committed to building comprehensive, industry-informed training models that deliver quality outcomes and equity of access in the city’s tech training landscape, we are committed to helping you. We are working to strengthen the field, diversify investments, and bring our resources to bear in support of your work.</p>
    <br>
    <p>Building capacity among NYC training providers is critical to delivering for New Yorkers and New York’s businesses alike. Look out for new opportunities to collaborate with us in the coming months.</p>
    <br>
    <p>We look forward to your proposals and the impact of our collective work in the coming years.</p>
    <br>
    <p>Thanks for all that you do,</p>
    <p>TTP Team</p>
  </div>
</div>

<div class="container">
  <div class="row panel letter">
    <div class="panel-heading">
      <h1 class="letter-heading"><em>Contact Us!</em></h1>
    </div>
    <div class="panel-body">
      {{#if messages.success}}
        <div role="alert" class="alert alert-success">
          {{#each messages.success}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2">Name</label>
          <div class="col-sm-8">
            <input type="text" name="name" id="name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2">Email</label>
          <div class="col-sm-8">
            <input type="email" name="email" id="email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2">Body</label>
          <div class="col-sm-8">
            <textarea name="message" id="message" rows="7" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-success">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
