<link rel="stylesheet" href="/css/chatroomStyles.css">
<div class="container">

	<div class="title-panel well well-sm">
		<h1>DevChat </h1>
	</div>

	<div class="chatnav panel">
		<div class="userPic">
          {{#if user.picture}}
            <img src="{{user.picture}}">
          {{else}}
            <img src="{{user.gravatar}}" class="gravatar">
          {{/if}}
      	</div>
		<p class="username">{{user.name}}</p>
		<a href="/rooms" class="roomsbutton"><button type="button" class="btn btn-default">Rooms</button></a>
		<a href="/logout" class="logoutbutton"><button type="button" class="btn btn-default">Logout</button></a>
	</div>

	<div class="chatbody">

		<div class="chatMessagesPanel">
			<div class="chatMessages">
			<!-- Loop this for chat messages -->				
			<!-- loop end -->
			</div>
			<div class="typePanel">
				<input type="text" name="userInput" placeholder="Type here and press enter">
				<a href="#" id="uploadFile" class="fileUploadBtn">Photo</a>
			</div>
		</div>

		<div class="chatUsers">
		<!-- Loop this for chat users -->
			<div class="userBlock">
				<div class="userPic"><img src="" alt="John Doe"></div>
				<div class="cuserName">John Doe</div>
			</div>
		<!-- loop end -->
		</div>

	</div>

</div>
