<div class="container-fluid">
	<div class="row search">
		<div class="overlay">
			<div class="content">
				<h1 class="search-header">How can we help you?</h1>
				<form action="" method="post">
					<input class="search-input" type="text" placeholder="Type keywords to find answers">
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="panel row faq-article">
		<h1 class="faq-header">Forum</h1>
	</div>
</div>