<div class="container-fluid">
  {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div role="alert" class="alert alert-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <div class="row home-landing">
    <div class="overlay">
      <div class="content">
          <h1>DevConnect</h1>
          <h3>We aim to connect developers with the right resources</h3>
          <br>
          <a href=""class="btn btn-primary my-btn">Contact</a>
          <a href="" class="btn btn-primary my-btn2">Portfolio</a>
      </div>
    </div>
  </div>
</div>
