<div class="container-fluid">
  {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div role="alert" class="alert alert-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <div class="row home-landing">
    <div class="overlay">
      <div class="content">
          <h1>DevConnect</h1>
          <h3 class="subheader">We want to help kickstart your career as a developer.</h3>
          <br>
          <a href="/about" class="btn btn-primary my-btn">&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;</a>
          <a href="/resources" class="btn btn-primary my-btn2">Resources</a>
      </div>
    </div>
  </div>
</div>
