<div class="container-fluid landing">
  <div class="row">
    <div class='split-pane col-xs-12 col-sm-6 uiux-side'>
      <div>
        <img src='http://bit.ly/BCR-design'>
        <div class='text-content'>
          <div>You want</div>
          <div class='big'>FRONT-END?</div>
        </div>
        <button>
          SHOW ME THE DESIGN
        </button>
      </div>
    </div>
    <div class='split-pane col-xs-12 col-sm-6 frontend-side'>
      <div>
        <img src='http://bit.ly/bcr-dev'>
        <div class='text-content'>
          <div>You want</div>
          <div class='big'>BACK-END?</div>
        </div>
        <a class='button'>
          SHOW ME THE CODE
        </a>
      </div>
    </div>
    <div id='split-pane-or'>
      <div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/bcr-white.png'>
      </div>
    </div>
  </div>
</div>

<div class="codeplay-wrapper">
  <div class="container">
    <div class="panel">
      <div class="row">
        <h1 class="front-header">FRONT-END</h1>
      </div>
      <div class="row">
        <p>Front-end development involves the website aesthetics and user interactions.</p>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <img class="frontend-comic" src="/img/frontend-comic.png" alt="">
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <div class="codeplay">
          <p data-height="265" data-theme-id="0" data-slug-hash="wgZwpe" data-default-tab="html,result" data-user="jihoonoh" data-embed-version="2" data-pen-title="wgZwpe" class="codepen">See the Pen <a href="http://codepen.io/jihoonoh/pen/wgZwpe/">wgZwpe</a> by Jihoon Oh (<a href="http://codepen.io/jihoonoh">@jihoonoh</a>) on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>