<div class="container-fluid">
  <nav class="toc">
    <ul>
      <li>
        <a href="#basics">Basics</a>
        <ul>
          <li><a href="#general">General</a></li>
          <li><a href="#command-line">Command Line</a></li>
          <li><a href="#git">Git and GitHub</a></li>
        </ul>
      </li>
      <li>
        <a href="#front-end">Front-End</a>
        <ul>
          <li><a href="#html-css">HTML/CSS</a></li>
          <li><a href="#javascript">JavaScript</a></li>
          <li><a href="#design-ux">Design/UX</a></li>
          <li><a href="#wordpress">Wordpress</a></li>
        </ul>
      </li>
      <li>
        <a href="#back-end">Back-End</a>
        <ul>
          <li><a href="#python">Python</a></li>
          <li><a href="#ruby">Ruby</a></li>
          <li><a href="#databases">Databases</a></li>
        </ul>
      </li>
      <li>
        <a href="#etc">Etc.</a>
        <ul>
          <li><a href="#online">Online</a></li>
          <li><a href="#youtube">Youtube</a></li>
          <li><a href="#blogs">Blogs</a></li>
          <li><a href="#in-person">In-Person</a></li>
        </ul>
      </li>
    </ul>
    <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
      <path stroke="#444" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
    </svg>
  </nav>

  <article class="contents">
    <section id="basics">
      <h1>Basics</h1>
      <h3>The foundation you need to become a programmer.</h3>
      <br>
      <div id="general">
        <h2>General</h2>
        <ul>
          <li><strong><a href="https://www.codecademy.com/" target="_blank">Codecademy</a></strong></li>
          <p>Codecademy is where most people who are new to coding get their start. If you haven’t been to the site yet&#8230;where have you been!? The platform revolves around interactive learning; that is, you read a little, type your code right into the browser, and see results immediately.</p>
          <p><strong>Topics taught:</strong> HTML &amp; CSS, JavaScript, PHP, Python, Ruby, Angularjs, The Command Line, and more</p>
          <br>
          <li><strong><a href="http://www.codewars.com/" target="_blank">Codewars</a></strong></li>
          <p>Codewars offers a fun way to learn coding. With a martial-arts theme, the program is based on challenges called “kata.” Complete them to earn honor and progress to higher ranks.</p>
          <p><strong>Topics taught:</strong> CoffeeScript, JavaScript, Python, Ruby, Java, Clojure, and Haskell</p>
          <br>
          <li><strong><a href="https://www.coursera.org/" target="_blank">Coursera</a></strong></li>
          <p>Large online course library, where classes are taught by real university professors. All courses are free of charge, but you have the option to pay for a “Coursera Verified Certificate” to prove course completion. These cost between $30 and $100 depending on the course. Coursera also now has specializations, which you do have to pay for.</p>
          <p><strong>Topics taught:</strong> Many (far beyond your basic coding/computer science)</p>
          <br>
          <li><strong><a href="https://www.edx.org/" target="_blank">edX</a></strong></li>
          <p>An open-source higher education program governed by MIT and Harvard. Offers 107 courses under the “computer science” category, teaching various coding languages.</p>
          <p><strong>Topics taught:</strong> Java, C#, Python, and many more</p>
          <br>
          <li><strong><a href="http://www.freecodecamp.com/" target="_blank">Free Code Camp</a></strong></li>
          <p>Teaches coding first through an established curriculum, then by giving you hands-on experience working on projects for nonprofits.</p>
          <p><strong>Topics taught:</strong> HTML, CSS, Bootstrap, JavaScript, Databases, DevTools, Node.js, React.js, and D3.js</p>
          <br>
          <li><strong><a href="https://dash.generalassemb.ly/" target="_blank">GA Dash</a></strong></li>
          <p>General Assembly’s free online learning platform. Entirely project-based. You build a “project” with each walk-through.</p>
          <p>They are one of the very few options that have a course on how to build a Tumblr theme from scratch.</p>
          <p><strong>Topics taught:</strong> HTML, CSS, JavaScript, and responsive design</p>
          <br>
          <li><strong><a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a></strong></li>
          <p>Tons of subjects (as their front page says, “You can learn anything”), including many on computer programming. A few courses are offered for younger kids, too.</p>
          <p><strong>Topics taught:</strong> Many</p>
          <br>
          <li><strong><a href="http://ocw.mit.edu/index.htm" target="_blank">MIT OpenCourseware</a></strong></li>
          <p>Competition to get into MIT may be stiff, but accessing their course material has no minimum SAT score. They maintain an online library of every subject they teach, with no account required for access.</p>
          <p><strong>Topics taught:</strong> Many</p>
          <br>
          <li><strong><a href="http://www.theodinproject.com/" target="_blank">The Odin Project</a></strong></li>
          <p>Made by the creators of Viking Code School—a premiere online coding bootcamp. The Odin Project is their free version. FYI: you can also work with others in <a href="http://www.theodinproject.com/studygroups" target="_blank">in-person or online study groups</a>.</p>
          <p><strong>Topics taught:</strong> HTML, CSS, JavaScript &amp; jQuery, Ruby programming, Ruby on Rails</p>
          <br>
          <li><strong><a href="https://www.udacity.com/" target="_blank">Udacity</a></strong></li>
          <p>Offers individual courses, as well as “nanodegrees” that train you for specific careers like front-end web developer or data analyst. Some course materials are free, but nanodegrees require a tuition fee.</p>
          <p><strong>Topics taught:</strong> Many</p>
          <br>
          <li><strong><a href="https://www.udemy.com/" target="_blank">Udemy</a></strong></li>
          <p>Paid and free courses on a variety of subjects, including web development, programming, datascience, and more. Courses can be created by anyone, so make sure to read reviews. Coupons can also be easily found, too. Check out some of their top development courses <a href="http://learntocodewith.me/reviews/best-udemy-courses/" target="_blank">here</a>.</p>
          <p><strong>Topics taught:</strong> Many</p>
          <br>
          <li><strong><a href="http://thecodeplayer.com/" target="_blank">The Code Player</a></strong></li>
          <p>A compilation of video tutorials to help you walk through a process from start to finish. Good for learning “smaller” projects or tasks one at a time.</p>
          <p><strong>Topics taught:</strong> HTML5, CSS3, Javascript, Regex, JQuery</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="command-line">
        <h2>Command Line</h2>
        <ul>
          <li><strong><a href="http://commandlinepoweruser.com/" target="_blank">Command Line Power User</a></strong></li>
          <p>Free video series created by Wes Bos. More at an intermediate level, so not for total newbies.</p>
          <br>
          <li><strong><a href="http://conqueringthecommandline.com/book" target="_blank">Conquering the Command Line</a></strong></li>
          <p>Free online book by Mark Bates. Very in-depth. Can purchase hard copy and screencasts.</p>
          <br>
          <li><strong><a href="http://cli.learncodethehardway.org/book/" target="_blank">Learn Command Line the Hard Way</a></strong></li>
          <p>Free online book by Zed Shaw. (My personal favorite command line resource.)</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="git">
        <h2>Git and Github</h2>
        <ul>
          <li><strong><a href="https://try.github.io/levels/1/challenges/1" target="_blank">Try Git</a></strong></p>
          <p>An interactive series of challenges to learn about and experiment with Git. Created by <a href="http://learntocodewith.me/where-to-learn/code-school/" target="_blank">Code School</a>.</p>
          <br>
          <li><strong><a href="http://gitimmersion.com/" target="_blank">Git Immersion</a></strong></p>
          <p>A guided tour to teach you the basics of Git. Set preferences and create your own projects.</p>
        </ul>
      </div>
    </section>

    <section id="front-end">
      <br>
      <hr>
      <h1>Front-End</h1>
      <h3>The front-end of a website is the part that the user interacts with.</h3>
      <br>
      <div id="html-css">
        <h2>HTML and CSS</h2>
        <ul>
          <li><strong><a href="https://skillcrush.com/skillcrush-10-day-bootcamp/" target="_blank">Skillcrush’s Coding Bootcamp</a></strong></p>
          <p>Skillcrush’s free coding bootcamp is a perfect place to start for absolute newbies. You’ll learn what it means to work in tech, get digestible definitions of common industry lingo, and get the chance to write your first lines of code.</p>
          <br>
          <li><strong><a href="http://learnlayout.com/" target="_blank">Learn CSS Layout</a></strong></p>
          <p>This website will teach you CSS fundamentals that are used in setting up a website’s layout. It’s best for those who already have basic HTML and CSS know-how.</p>
          <br>
          <li><strong><a href="http://marksheet.io/" target="_blank">Marksheet.io</a></strong></p>
          <p>For beginners. Broken down into four chapters: The web, HTML5, CSS3, and Sass. It’s like an online ebook, but under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. So you can adapt it for your needs.</p>
          <br>
          <li><strong><a href="https://developer.mozilla.org/en-US/" target="_blank">Mozilla Developer Network</a></strong></p>
          <p>Free documentation on HTML and CSS (also JavaScript). Has tutorials for people of different levels, introductory to advanced.</p>
          <br>
          <li><strong><a href="http://www.htmldog.com/" target="_blank">HTML5 Dog</a></strong></p>
          <p>HTML beginner tutorial <a href="http://www.htmldog.com/guides/html/beginner/" target="_blank">here</a>. (They also offer intermediate and advanced HTML tutorials.) And ones on CSS.</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="javascript">
        <h2>JavaScript</h2>
        <ul>
          <li><strong><a href="http://eloquentjavascript.net/" target="_blank">Eloquent Javascript</a></strong></p>
          <p>Another online book, longer than most. It has big-tech financial <a href="http://eloquentjavascript.net/backers.html" target="_blank">backers</a> like Mozilla and Hack Reactor (“the Harvard of coding bootcamps”).</p>
          <br>
          <li><strong><a href="https://www.javascript.com/" target="_blank">Javascript.com</a></strong></p>
          <p>Created by Code School. Quick and perfect for absolute beginners. (Warning: JS in real life is a lot tougher.) 9 mini-lessons. At the end, it points you to more in-depth JS learning materials.</p>
          <br>
          <li><strong><a href="http://jsforcats.com/" target="_blank">JavaScript for Cats</a></strong></p>
          <p>It’s like a single-webpage book broken down into sections. Created by programmer <a href="http://maxogden.com/" target="_blank">Max Ogden</a>. Filled with non-cat gifs but has cat pics at the end. Just because. Lol.</p>
          <br>
          <li><strong><a href="http://www.learn-js.org/" target="_blank">Learn JS</a></strong></p>
          <p>Go through lessons, type in the window at the bottom. Created by the same folks who make <a href="http://www.learnpython.org/" target="_blank">learnpython.org</a>.</p>
          <br>
          <li><strong><a href="http://nodeschool.io/" target="_blank">NodeSchool</a></strong></p>
          <p>Has in-person workshops and events all over the world, as well as an active web presence. <a href="http://nodeschool.io/#workshoppers" target="_blank">See online tutorials here</a>.</p>
          <br>
          <li><strong><a href="http://www.thatjsdude.com/" target="_blank">That JS Dude</a></strong></p>
          <p>A website that teaches JavaScript. Specifically this, scope, hoisting, closures, inheritance, and more. It relies on videos as well as text to explain concepts. Created by <a href="https://twitter.com/mdkhan005" target="_blank">@mdkhan005</a>.</p>
          <br>
          <li><strong><a href="http://www.nodebeginner.org/" target="_blank">The Node Beginner Book</a></strong></p>
          <p>Written by Manuel Kiessling, this book targets people who have some experience in other programming languages. While the free version online is a shortened version of the full book, it still teaches a lot about Node.</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="design-ux">
        <h2>Design and User Experience</h2>
        <ul>
          <li><strong><a href="https://hackdesign.org/" target="_blank">HackDesign</a></strong></p>
          <p>HackDesign is, “an easy to follow design course for people who do amazing things.” There are 50 lessons total, all taught by different instructors. Topics include typography, interaction design, front-end design, and more. You can get a design lesson delivered to your inbox once a week or you can view all the lessons on their site.</p>
          <br>
          <li><strong><a href="http://www.uxapprentice.com/" target="_blank">UX Apprentice</a></strong></p>
          <p>Created by Theresa Neil and the team at Balsamiq. This is like a UX 101 course — perfect for beginners. Three main parts: discovery, strategy, and design. As you go through, you are quizzed and shown related resources.</p>
          <br>
          <li><strong><a href="https://www.uxpin.com/knowledge.html" target="_blank">UXPin</a></strong></p>
          <p>While UXPin has paid offerings, there are a variety of free UX books available on the site. All you need to do is provide your email to access the material. They have books on minimalism, color theory, flat design, interaction design, and more.</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="wordpress">
        <h2>Wordpress</h2>
        <ul>
          <li><strong><a href="http://wordpress.tv/" target="_blank">WordPress.tv</a></strong></p>
          <p>Recordings of live WordCamp lectures around the world. Created by <a href="https://automattic.com/" target="_blank">Automattic</a>.</p>
          <br>
          <li><strong><a href="http://www.wpbeginner.com/" target="_blank">WPBeginner</a></strong></p>
          <p>Website for beginner WP users. Great <a href="http://www.wpbeginner.com/glossary/" target="_blank">WP glossary</a> of terms, plus coupon deals, video tutorials, and a blog which publishes useful articles by different authors.</p>
        </ul>
      </div>
    </section>

    <section id="back-end">
      <br>
      <hr>
      <h1>Back-End</h1>
      <h3>A back-end developer builds and maintains the server, application, and database that powers the website.</h3>
      <div id="python">
                  <br><h2>Python</h2
        >
        <li><strong><a href="http://www.swaroopch.com/notes/python/" target="_blank">A Byte of Python</a></strong></li>
                  <br><p>Free online book for beginners. Can choose to download it as a PDF for free or invest in the hard copy.</p
        >
        <li><strong><a href="http://www.learnpython.org/" target="_blank">LearnPython.org</a></strong></li>
        <p>Interactive online tutorial to learn Python coding. Has a little window at the bottom where you can write          <br>your code as you go through the lessons.</p
        >
        <li><strong><a href="http://learnpythonthehardway.org/book/" target="_blank">Learn Python The Hard Way (Website)</a></strong></li>
        <p>The book costs money, but the website is free. Written by Zed Shaw. (I used the book when I first started          <br>learning.)</p
        >
        <li><strong><a href="https://pythonspot.com/" target="_blank">Python Spot</a></strong></li>
        <p>Beginner and intermediate Python tutorials. Most come in a written form. There’s also some tutorials on game development, databases, and more. All using Python, of course.</p>
      </div>

      <br>
      <hr>
      <br>

      <div id="ruby">
        <h2>Ruby</h2>
        <ul>
          <li><strong><a href="http://learnrubythehardway.org/" target="_blank">Learn Ruby the Hard Way</a></strong></li>
          <p><a href="http://learnrubythehardway.org/book/" target="_blank">Free HTML version</a> of the book online. Buying the hard copy also gets you access to videos. Another book written by Zed Shaw.</p>
          <br>
          <li><strong><a href="http://railsforzombies.org/" target="_blank">Rails For Zombies</a></strong></li>
          <p>An interactive way to learn Ruby on Rails right in your browser. (This is a better choice for people who know some Ruby already.) Created by Code School.</p>
          <br>
          <li><strong><a href="https://www.railstutorial.org/book" target="_blank">Rails Tutorial</a></strong></li>
          <p>12-chapter book by Michael Hartl. Can purchase ebooks, screencasts from author, and more. Or just read it for free online.</p>
          <br>
          <li><strong><a href="https://rubymonk.com/" target="_blank">RubyMonk</a></strong></li>
          <p>Entirely free, though you have the option to donate. Based on interactive tutorials, where you read a lesson and type in code. Lastly, “run” it. RubyMonk has one beginner course option, two intermediate, and one advanced.</p>
          <br>
          <li><strong><a href="http://tryruby.org/levels/1/challenges/0" target="_blank">Try Ruby</a></strong></li>
          <p>Also created by <a href="http://learntocodewith.me/where-to-learn/code-school/" target="_blank">Code School</a>, this is a better option for beginners. Type into an in-browser prompt window as you go through the exercises.</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="databases">
        <h2>Databases</h2>
        <ul>
          <li><strong><a href="http://sql.learncodethehardway.org/book/" target="_blank">Learn SQL the Hard Way</a></strong></li>
          <p>Another resource created by Zed Shaw. This free online book takes you through 33 exercises. By the end, you should understand SQL, how to design data, and know a bit about database optimization. You don’t need to know how to program to work through the book, but it helps.</p>
          <br>
          <li><strong><a href="https://university.mongodb.com/courses" target="_blank">MongoDB University</a></strong></li>
          <p>Courses on MongoDB. Lessons come in video form. There are also quizzes and graded exercises along the way. Courses last seven weeks, but you can work through at your own pace. As of now, 200,000+ people have already taken courses on MongoDB University.</p>
          <br>
          <li><strong><a href="http://www.mysqltutorial.org/" target="_blank">MySQLtutorial.org</a></strong></li>
          <p>Offers a range of MySQL tutorials including how to use MySQL as a developer and database administrator. They offer over ten different MySQL tutorials in total.</p>
          <br>
          <li><strong><a href="http://philip.greenspun.com/sql/" target="_blank">SQL for Web Nerds</a></strong></li>
          <p>Free digital book created by renowned computer science professor at MIT, Philip Greenspun. It contains 16 sections including data modeling, simple queries, transactions, trees, and more.</p>
          <br>
          <li><strong><a href="https://academy.vertabelo.com/" target="_blank">Vertabelo</a></strong></li>
          <p>This free platform has three different SQL courses: SQL Queries, Operating on Data in SQL, and Creating Tables in SQL. On Vertabelo you’ll learn in an interactive code editor, table, and console.</p>
        </ul>
      </div>
    </section>

    <section id="etc">
      <br>
      <hr>
      <h1>Etc.</h1>
      <h3>Some supplementary resources you may need.</h3>
      <br>
      <div id="online">
        <h2>Online Communities</h2>
        <ul>
          <li><strong><a href="http://hangouts.codebuddies.org/" target="_blank">CodeBuddies</a></strong></li>
          <p>Learn with others in peer-to-peer organized Google Hangouts. Great for those who want to study with others or do pair programming. CodeBuddies also has a Slack chatroom as well as Facebook group where people can congregate and ask questions.</p>
          <br>
          <li><strong><a href="http://www.codenewbie.org/" target="_blank">CodeNewbie</a></strong></li>
          <p>CodeNewbie has a variety of tools for beginners including a Slack community where you can ask questions, a Twitter chat every Wednesday, a weekly podcast, and more. Now there are also some in-person meetups &#8211; like in <a href="http://www.meetup.com/CodeNewbie-Atlanta/" target="_blank">Atlanta</a>.</p>
          <br>
          <li><strong><a href="http://newbiecoderwarehouse.com/" target="_blank">Newbie Coder Warehouse</a></strong></li>
          <p>Full disclosure: Newbie Coder Warehouse is my Facebook group of 2,200+ self-taught coders (and counting!). It’s a great place to ask questions as well as connect with others. And it’s super simple to join: all you need is a Facebook profile!</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="youtube">
        <h2>Youtube Channels</h2>
        <ul>
          <li><strong><a href="https://www.youtube.com/user/CodersGuide" target="_blank">Coder’s Guide</a></strong></li>
          <p>Features numerous series of videos on coding topics: a 19-video series on JavaScript, another 19 videos on HTML/CSS, and more.</p>
          <p><strong>Topics taught:</strong> HTML, CSS, JavaScript, Bootstrap, WordPress, iOS and Android, and more</p>
          <p><strong>Subscribers:</strong> 44,215</p>
          <br>
          <li><strong><a href="https://www.youtube.com/user/DevTipsForDesigners" target="_blank">DevTips</a></strong></li>
          <p>One of Travis Neilson’s YouTube channels. Focuses on web design and web development, with occasional live Q&amp;As.</p>
          <p><strong>Topics taught:</strong> HTML, CSS, responsive design, development advice</p>
          <p><strong>Subscribers:</strong> 82,907</p>
          <br>
          <li><strong><a href="https://www.youtube.com/user/learncodeacademy" target="_blank">LearnCode.academy</a></strong></li>
          <p>My personal favorite. Web-development-focused videos made by Will Stern.</p>
          <p><strong>Topics taught:</strong> Sublime Text, Responsive Design, Node.js, Angular.js, Backbone.js, deployment strategies, and more</p>
          <p><strong>Subscribers:</strong> 154,590</p>
          <br>
          <li><strong><a href="https://www.youtube.com/user/thenewboston" target="_blank">thenewboston</a></strong></li>
          <p>Over 4,000 videos on a range of programming languages, game development, and design. Has over one million subscribers.</p>
          <p><strong>Topics taught:</strong> Android development, C programming, MySQL, Python, and more.</p>
          <p><strong>Subscribers:</strong> 1,131,977</p>
          <p>For a more comprehensive list of 33 YouTube channels where you can learn to code, <a href="http://webuilddesign.com/33-useful-youtube-channels-for-learning-web-design-and-development/" target="_blank">look here</a>.</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="blogs">
        <h2>Blogs</h2>
        <ul>
          <li><strong><a href="http://alistapart.com/" target="_blank">A List Apart</a></strong></li>
          <p>Lots of authors. They write books, have <a href="http://aneventapart.com/" target="_blank">events</a>, and run a great development and design blog. See all code topics <a href="http://alistapart.com/topic/code" target="_blank">here</a>.</p>
          <br>
          <li><strong><a href="http://css-tricks.com" target="_blank">CSS-Tricks</a></strong></li>
          <p>Goes deep into CSS with their big, bad CSS <a href="https://css-tricks.com/almanac/" target="_blank">almanac</a>. However, the blog now goes beyond just CSS and talks about other things like Sass, JavaScript, PHP, and more. Explore tons of resources and check out their code snippets.</p>
          <br>
          <li><strong><a href="http://davidwalsh.name/" target="_blank">David Walsh</a></strong></li>
          <p>Run by David Walsh (a senior developer at Mozilla), although there are others who write on the site too. Tutorials, how-tos, demos, and more.</p>
          <br>
          <li><strong><a href="https://scotch.io/" target="_blank">Scotch.io</a></strong></li>
          <p>Covers lots of topics related to web development and workflow. To name a few: Angular, Node.js, Laravel, Sublime Text, and more.</p>
          <br>
          <li><strong><a href="http://www.sitepoint.com/" target="_blank">SitePoint</a></strong></li>
          <p>They have lots of writers and publish often. Topics range from <a href="http://learntocodewith.me/html5-cheat-sheet/" target="_blank">HTML</a> and CSS to entrepreneurship. SitePoint now also has paid books and courses on their child site <a href="https://learnable.com/" target="_blank">Learnable</a>.</p>
          <br>
          <li><strong><a href="http://tutsplus.com/" target="_blank">Tuts+</a></strong></li>
          <p>Tons of free tutorials, as well as paid options like actual courses. Has over 570 expertly-instructed video courses (on all topics, not just computer-related). Also publishes eBooks.</p>
        </ul>
      </div>

      <br>
      <hr>
      <br>

      <div id="in-person">
        <h2>In-Person Workshops</h2>
        <ul>
          <li><strong><a href="https://codebar.io/" target="_blank">codebar</a></strong></li>
          <p>codebar’s goal is enable underrepresented groups to learn how to code. They do this by offering free weekly workshops and events. Keep in mind codebar is based in the UK.</p>
          <br>
          <li><strong><a href="https://www.girldevelopit.com/" target="_blank">Girl Develop It</a></strong></li>
          <p>Girl Develop It (GDI) has chapters across the US and Canada. While most of GDI’s in-person workshops cost money, all of their course materials are readily <a href="https://www.girldevelopit.com/materials" target="_blank">available online for free</a>. GDI also has free events, like their Code &amp; Coffee meetup.</p>
          <br>
          <li><strong><a href="https://www.womenwhocode.com/" target="_blank">Women Who Code</a></strong></li>
          <p>Women Who Code is a non-profit with networks around the world. They have different events and workshops, all relating to code.</p>
        </ul>
      </div>
    </section>
  </article>
</div>