<div class='split-pane col-xs-12 col-sm-6 uiux-side'>
  <div>
    <img src='http://bit.ly/BCR-design'>
    <div class='text-content'>
      <div>You want</div>
      <div class='big'>FRONT-END?</div>
    </div>
    <button>
      SHOW ME THE DESIGN
    </button>
  </div>
</div>
<div class='split-pane col-xs-12 col-sm-6 frontend-side'>
  <div>
    <img src='http://bit.ly/bcr-dev'>
    <div class='text-content'>
      <div>You want</div>
      <div class='big'>BACK-END?</div>
    </div>
    <a class='button'>
      SHOW ME THE CODE
    </a>
  </div>
</div>
<div id='split-pane-or'>
  <div>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/bcr-white.png'>
  </div>
</div>