<link rel="stylesheet" type="text/css" href="css/chatroom.css" />	
	<div class="containerRooms">
		<div class="titlePanelRooms">
			<h1>DevConnect </h1>
		</div>
		<div class="controlsRooms">
			<div class="userPicHolderRooms"><img src="#" alt="John Doe"></div>
			<p class="userNameRooms"></p>
			<a href="/rooms" id="roomsBtnRooms">Rooms</a>
			<a href="/logout" id="logOutBtnRooms">Logout</a>
		</div>
		<div class="chatListDivRooms">
			<div class="chatMessagesPanelRooms">
				<div class="chatMessagesRooms">
				<!-- Loop this for chat messages -->				
				<!-- loop end -->
				</div>
				<div class="typePanel1Rooms">
					<input type="text" name="userInput" placeholder="Type here and press enter">
					<a href="#" id="uploadFileRooms" class="fileUploadBtnRooms">Photo</a>
				</div>
			</div>
			<div class="chatUsersRooms">
			<!-- Loop this for chat users -->
				<div class="userBlockRooms">
					<div class="userPicRooms"><img src="" alt="John Doe"></div>
					<div class="cuserNameRooms">John Doe</div>
				</div>
			<!-- loop end -->
			</div>
		</div>
	</div>