.chatcontainer {
    width: 70%;
	margin:auto;
	border: none;
}

.title-panel {
	padding-left: 10px;
}

.titlePanel > h1 {
	position: absolute;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
}

.controls {
	position: relative;
	background-color: rgb(236, 236, 236);
	width: 960px;
	height: 70px;
}

.chatListDiv {
	height: 450px;
	padding: 10px;
}

.userName {
	float: left;
    margin: 0;
    padding: 8px;
}

.userPic > img {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.chatMessagesPanel {
	width: 75%;
	height: 100%;
	float: left;
	border-bottom: 1px solid;
	border: 1px solid;
	position: relative;
}

.chatUsers {
	background: #F7F4F4;
	width: 20%;
	height: 100%;
	float: right;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid;
}

.chatMessages {
	border-bottom: 1px solid;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid;
}

.typePanel {
	width: 100%;
	height: 10%;
	background-color: #FFFFFF;
	border-top: 1px solid;
	position: absolute;
	bottom: 0;
}

input[name='userInput'] {
	padding: 12px;
	font-size: 12px;
	border: none;
	width: 85%;
}

.chatBlock {
	position: relative;
	width: 622px;
	/*height:20px;*/
	background:rgba(0,0,0,0.1);
	padding: 10px;
	margin: 16px;
	min-height: 32px;
}

.chatMsg {
	position: relative;
	left: 38px;
	font-family: sans-serif;
	font-size: 15px;
	width: 591px;
}

.chatMsg > img {
	margin:5px;
	box-shadow:2px 1px 5px rgba(0,0,0,0.6);
	border-radius:2px;
}

.userBlock {
	position: relative;
	background: #E8E7E1;
}

.cuserName {
	position: absolute;
	padding:5px;
	font-size: 11px;
	font-weight: normal;
	top: 17px;
	left: 46px;
	margin: 0;
}

.fileUploadBtn {
	float: right;
    color: #FFF;
    background: rgb(67, 202, 147);
    padding: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

/*.fileUploadBtn::-webkit-file-upload-button {
	visibility: hidden;

}
.fileUploadBtn::before {
	content: 'Photo';
	display: inline-block;  
	background: rgb(67, 202, 147);
	border: none;
	padding: 10px 10px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
}
.fileUploadBtn:hover::before {
  	border-color: black;
  
}

.fileUploadBtn:active::before {
	background: rgb(45, 169, 118);
}*/
