/* Forum page
/* ----------------- */

.postscontainer {
	padding: 20px;
}

.createpost {
	width: 80%;
	margin: 0 auto;
}

.subheader {
	width: 90%;
	margin: 0 auto;
}

.forumtitle { 
	padding: 20px;
}

.panel-title {
	text-align: center;
}

#post_list div {
	width: 85%;
	float: right;
}

.poststitle {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Button */
.returnbtn {
	margin-top: 20px;
}

.deletebtn {
	float: right;
}

.deleteform {
	padding: 0;
	margin 0;
}

/* Post */

.postview {
	width: 75%;
	margin: 0 auto;
}

/* Panels */

.clickable
{
    cursor: pointer;
}

#post-container
{
	width: 80%;
}

#postBody
{
	white-space: pre-wrap;
}
