/* Profile Page 
/* ----------------- */
@import url("main.css");

.badgeGraph {
	width: 8%;
	height: 8%;
	float: left;
}

.badge img {
	width: 10%;
	height: 10%;
}

.badgeGraph svg > g:nth-of-type(3) > text {
	display: none;
}