.containerRooms {
	position:absolute;
    width: 960px;
    height: 687px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

.titlePanelRooms {
	position: relative;
	width: 960px;
	height: 50px;
	background-color: gray;
}

.titlePanelRooms > h1 {
	position: absolute;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
}

.controlsRooms {
	position: relative;
	background-color: rgb(236, 236, 236);
	width: 960px;
	height: 70px;
	border-bottom: 1px solid black;
}

#roomsBtnRooms {
	position: absolute;
	background-color: rgb(67, 202, 147);
	padding: 17px;
	left: 698px;
	top:10px;
	width:90px;
	color:#FFF;
	font-family:sans-serif;
	text-decoration: none;
	text-align: center;
	outline:none;
}

#roomsBtnRooms:hover {
	background-color: rgb(45, 169, 118);
}

.chatListDivRooms {
	position: relative;
	width: 960px;
	height: 566px;
	/* background-color: red; */
}

.roomsListRooms {
	margin:0px;
	padding:0px;
	list-style:none;
	font-family: sans-serif;
}

.roomsListRooms > a {
	color: #FFF;
	text-decoration: none;
}

.roomsListRooms > a > li {
	padding: 18px;
	background-color: rgb(245, 235, 202);
	color: #000;
	margin-bottom: 1px;
}

.userNameRooms {
	position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    top: 24px;
    left: 77px;
    margin: 0;
}

.userPicHolderRooms {
	position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.63);
}

.userPicHolderRooms > img {
	width: 50px;
	height: 50px;
}

#logOutBtnRooms {
	position: absolute;
	background-color: rgb(226, 98, 92);
	padding: 17px;
	left: 827px;
	top:10px;
	width:90px;
	color:#FFF;
	font-family:sans-serif;
	text-decoration: none;
	text-align: center;
	outline:none;
}

#logOutBtnRooms:hover {
	background-color: rgb(232, 48, 39);
}

.chatMessagesPanelRooms {
	position: absolute;
	/* background:red; */
	height: 566px;
	width: 692px;
	border-right: 1px dashed black;
}

.chatUsersRooms {
	position: absolute;
	height:566px;
	background: #F7F4F4;
	width: 267px;
	left: 693px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chatMessagesRooms {
	position: relative;
	/* background-color: red; */
	border-bottom: 1px dashed;
	width: 692px;
	height: 490px;
	top: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.typePanel1Rooms {
	position: relative;
	width:692px;
	height: 75px;
	background-color: #FFFFFF;
}

input[name='userInput'] {
	position:absolute;
	padding: 24px;
	font-size: 22px;
	width: 537px;
	height: 23px;
	top: 0px;
	outline: 0px;
	left: 0px;
	border: none;
}

.chatBlockRooms {
	position: relative;
	width: 622px;
	/*height:20px;*/
	background:rgba(0,0,0,0.1);
	padding: 10px;
	margin: 16px;
	min-height: 32px;
}

.userPicRooms {
	position: absolute;
	width: 28px;
	height: 28px;
	top: 13px;
	left: 10px;
	background: rgba(0, 0, 0, 0.63);
}

.userPicRooms > img {
	width: 28px;
	height: 28px;
}

.chatMsgRooms {
	position: relative;
	left: 38px;
	font-family: sans-serif;
	font-size: 15px;
	width: 591px;
}

.chatMsgRooms > img {
	margin:5px;
	box-shadow:2px 1px 5px rgba(0,0,0,0.6);
	border-radius:2px;
}

.userBlockRooms {
	position: relative;
	background: #E8E7E1;
	height: 50px;
	width: 253px;
	margin-bottom: 1px;
}

.cuserNameRooms {
	position: absolute;
	font-family: sans-serif;
	font-size: 17px;
	font-weight: normal;
	top: 17px;
	left: 46px;
	margin: 0;
}

.fileUploadBtn2Rooms {
    position: absolute;
    right: 28px;
    width: 60px;
    overflow: hidden;
    top: 22px;
    height: 40px;
    outline: none;
    color: #FFF;
    background: rgb(67, 202, 147);
    padding: 10px;
    font-family: sans-serif;
    text-decoration: none;
    text-decoration-line: none;
}
